NODE_ENV=
LOG_LEVEL=
PORT=
FRONTEND_URL=
APP_SECRET=

# Database config
DB_HOST=
DB_PORT=
DB_NAME=
DB_PASSWORD=
DB_USER=
DB_MIN_POOL=
DB_MAX_POOL=

# AWS 
ACCESS_KEY_ID=
ACCESS_SECRET_KEY=
DEFAULT_REGION=
SUPPORT_EMAIL=
S3_ASSET_BUCKET=

#TWILLIO
TWILLIO_ACCOUNT_SID=
TWILLIO_AUTH_TOKEN=
TWILLIO_MESSAGE_SID=